{% extends "base.html" %}
{% block title %}Home{%endblock%}

{% block content %}

<div class="container" style="width: fit-content;">
    <div class="row align-items-center">
        <div class="col mt-5 mb-5">
            <h1 class="text-center fw-bold">La maratona</h1>
            <h2 class="text-center" style="font-family: Georgia, 'Times New Roman', Times, serif;">di coding</h2>
            <h3 class="text-center fw-italic">di Immaginazione e Lavoro!</h3>
            <p class="text-center">8 ore, 100 km, un intero programma da scrivere. L'unico limite?</p>
            <h2 class="text-center fw-bold fw-italic">La tua pazienza!</h2>
        </div>
    </div>
</div>

<!-- Bisogna trovare il modo di fare parsing dell'oggetto in maniera da infilarlo in una tabella -->
 <!-- Indici. -->
  <div class="container" style="width: fit-content;">
      <div class="row align-items-center">
          <div class="col mt-5 mb-5">
              <div class="card" style="width: fit-content;">
                  <div class="card-body">
                      <h2 class="card-title">Si sono già iscritti:</h2>
                      <ul class="list-group list-group-flush">
                          {% for runner in runners %}
                          <li class="list-group-item"> {{ runner[1] }} {{runner[2] }} </li>
                          {% endfor %}
                        </ul>    
                    </div>
                    <div class="card-footer" style="font-weight: bold;">Manchi solo tu!</div>
                </div>
            </div>
        </div>
    </div>

{%endblock%}